<div>{{message}}</div>

<button ng-click="setLanguage('fr')" translate="LANGUAGE.FR"></button>
<button ng-click="setLanguage('en')" translate="LANGUAGE.EN" ></button>
<!-- form.firstName.$invalid && (form.firstName.$dirty || form.firstName.$touched || form.$submitted )-->
<form name="form" md-submit="onSubmit($event)" novalidate>

    <!--<div class="form-group" ng-class="{'has-error': form.firstName2.$needsAttention }">
        <label class="control-label" for="firstName2">First Name</label><span>{{form.firstName.$error}}</span>
        <input class="form-control" validating-model="model.firstName" name="firstName2" autocomplete="off"  />
        <validation-error name="firstName2"></validation-error>
    </div>-->
    <!--<validating-field field-model="model.firstName"
                      input-autocomplete="off" >
    </validating-field>-->
    <!--<md-field field="model.firstName" input-autocomplete="off"></md-field>
    <md-field field="model.email"></md-field>-->
    <!--<md-field field="model.firstName" template-name="other" input-autocomplete="off"></md-field>

    <md-field field="model.birthDate"></md-field>
    <md-field field="model.hireDate"></md-field>
    <md-field field="model.gender"></md-field>-->

    <!--<md-field field="model.firstName" template-name="other" input-autocomplete="off"></md-field>   
    <md-field field="model.employed"></md-field>-->
    <md-field field="model.age" input-validator input-validator-val1="testVal(4,7)" input-validator-val2="testVal(7,10)"></md-field>
    <pre>{{form.$valid | json}}</pre>

    <!--<validating-field field-model="model.age"></validating-field>-->
    <span ng-init="g = {}"></span>
    <input ng-model="g.prop1" name="prop1" />
    <input ng-model="g.prop2" must-match=".prop1" must-match-watch="true" name="prop2" />
    <pre>{{form.prop2.$error | json}}</pre>

    <!--<validating-field field-model="model.firstNameMatch"
                      label-translate="FIELD.FIRSTNAME">

    </validating-field>-->
    <!--<validating-field field-model="model.email"></validating-field>-->

    <button ng-click="model.$commit()">Commit</button>
    <button ng-click="model.$rollback()">Rollback</button>
    <button type="submit">Submit</button>

    <div>FirstName: {{model.firstName}}</div>
    <div>FirstNameMatch: {{model.firstNameMatch}}</div>

    <!--<div>Dirty: {{model.$dirty}}</div>
        <div><pre>Patch:
    {{model.getPatch().operations}}</pre></div>


        <input validating-model="model.firstNameMatch" name="firstNameMatch" />
        <div>FirstNameMatch: {{model.firstNameMatch}}</div>
        <div><pre>{{form.firstName | json}}</pre></div>-->

</form>


<!--<ul tree family="data">
    <p>{{family.name}}</p>
</ultree>-->
<!--<ul hdt items="list">
    <a>{{item.name}}</a>
</ul>-->
