<div>{{message}}</div>

<button ng-click="setLanguage('fr')" translate="LANGUAGE.FR"></button>
<button ng-click="setLanguage('en')" translate="LANGUAGE.EN" ></button>

<form name="form" md-submit="onSubmit($event)" ng-submit="onSubmit()" novalidate>

    <md-field field="model.age" input-validator input-validator-val1="testVal(4,7)" input-validator-val2="testVal(5,10)"></md-field>
    <pre>{{form.$valid | json}}</pre>

    <md-field field="model.firstName" input-autocomplete="off"></md-field>
    <a ng-click="toast(model.firstName)">Info</a>
    <a ng-click="modal()">Modal</a>

    <a ng-click="model.$commit()">Commit</a>
    <a ng-click="model.$rollback()">Rollback</a>
    <a ng-click="form.submit()">Submit</a>

    <div>FirstName: {{model.firstName}}</div>
    <div>FirstNameMatch: {{model.firstNameMatch}}</div>

    <!--<div>Dirty: {{model.$dirty}}</div>
        <div><pre>Patch:
    {{model.getPatch().operations}}</pre></div>


        <input validating-model="model.firstNameMatch" name="firstNameMatch" />
        <div>FirstNameMatch: {{model.firstNameMatch}}</div>
        <div><pre>{{form.firstName | json}}</pre></div>-->

    </form>


<!--<ul tree family="data">
    <p>{{family.name}}</p>
</ultree>-->
<!--<ul hdt items="list">
    <a>{{item.name}}</a>
</ul>-->
